* {
    box-sizing: border-box;
    color: white;
}

header {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#092D74;
}

body {
    margin:0;
}

nav {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    background-color:#092D74;
}


.nav--header {
    justify-content: center;
}

.nav--footer {
    justify-content: space-around;
}

.nav--footer > * {
    width: 25%;
    padding: 0;
    margin: 0;
}

.nav--header ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.nav--footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav--footer div p {
 color: white;
 text-align: center;
}

nav ul li a {
    color:white;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hero-home {
    background-image: url(/images/droughtmb2.jpg);
}
.hero-gen {
    background-image: url(/movethistomain/herogenmb2.jpg);
}
.hero h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-size: 3rem;
}

.darkText {
    background-color: #133B7D;
}

.lightText {
    background-color: #08BEB9;
}
h2 {
    text-decoration: underline;
}
h2, p {
    margin: 0px;
    padding: 10px;
}
.nav--footer > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[class^=rts] {
    width: 50%;
}
.rtsBase {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
img {
    width: 50%;
}
.Image, .Text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#more {
    display: none;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: #133B7D;
    display: flex;
    justify-content: center;
    padding: 10px 5px;    
}
.top-button {
    position: fixed;
    background-color: #08BEB9;
    bottom: 7px;
    right: 7px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0px;
}
.buttons button {
    width: 30%;
}
button a {
    width: 100%;
}

/* .Text {
    margin: 20px;
} */

.rts {
    margin-bottom: 20px;
}