* {
    box-sizing: border-box;
}

header {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#092D74;
}

body {
    margin:0;
}

nav {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    background-color:#092D74;
}


.nav--header {
    justify-content: center;
}

.nav--footer {
    justify-content: space-around;
}

.nav--footer > * {
    width: 25%;
    padding: 0;
    margin: 0;
}

.nav--header ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.nav--footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav--footer div p {
 color: white;
 text-align: center;
}

nav ul li a {
    color:white;
    text-decoration: none;
}